.app{
  border:2px solid lightgray;
  border-radius: 10px 4px;
  width:400px;
  padding:10px;
}
.app h1{
  font-size: 40px;
  letter-spacing: 5px;
}
.app button{
  margin:5px;
  padding: 10px 20px;
  text-transform: uppercase;
  border:none;
  outline:none;
  background:yellowgreen;
}